*{
    box-sizing: border-box;
}

.all{
    width: 90%;
    margin: auto;
    background-color: palevioletred;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, article, aside, footer, nav{
    padding: 1em;
}

header, footer{
    background-color: bisque;
    height: 20vh;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.main{
    display: flex;
    flex: 1;
}

.main > aside{
    background-color: green;
    font-size: 40px;
    flex: 0 0 20vw;
    margin: 20px;
    height: 400px;
    color: white;
    text-align: center;
}

.main > article{
    display: flex;
    flex: 1;
    background-color: salmon;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    margin: 20px;
}

img{
   width: 25%;
}
