body{
    background-color: bisque;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}


.conteiner{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    background-color: beige;
    box-shadow: 0 0 10px black;
}

.baris1 div{
    display: inline-block;
    margin-top: 20px;
}

.kuning{
    width: 20%;
    height: 120px;
    background-color: yellow;
    margin-right: 15px;
    margin-left: 15px;
    border: 2px solid black;
    box-sizing: border-box;
}

.merah{
    width: 77%;
    height: 120px;
    background-color: salmon;
    border: 2px solid black;
    box-sizing: border-box;
}

.baris2 div{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hijau{
    width: 20%;
    height: 500px;
    background-color: lightgreen;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid black;
    box-sizing: border-box;
}

.grey{
    width: 55%;
    height: 500px;
    background-color: gray;
    margin-right: 22px;
    border: 2px solid black;
    box-sizing: border-box;
    
}

.lightblue{
    width: 20%;
    height: 500px;
    background-color: lightblue;
    border: 2px solid black;
    box-sizing: border-box;
}

.footer{
    width: 98%;
    height: 100px;
    background-color: #eaeaea;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}