.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 200px;
}

form{
    border: 3px solid black;
    text-align: center;
    margin-bottom: 5px;
}