.jika{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.jika th{
    padding: 20px 40px 20px;
    background-color: #2596be;
    border: 1px solid lightblue;
    color: white;
}

.jika tbody :nth-child(2n-1) td{
    background-color: lightblue;
}

.jika td{
    padding: 10px;
}

.harga h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: beige;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

h1{
    padding: 30px;
    text-align: center;
    color: blue;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px black;
    border: 3px solid white;
}

p{
    text-align: justify;
    width: fit-content;
}

.foto img{
    width: 350px;
    height: 300px;
    box-shadow: 0 0 10px black;
    border: 3px solid white;
}

.promo{
    text-align: center;
}

.cod{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightblue;
    border: 3px solid red;
    box-shadow: 0 0 10px black;
}

.cod p{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    color: blue;
}

#tombol button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: green;
    color: white;
}

.v{
    font-weight: bolder;
}

.n{
    font-weight: bold;
}

ol {
    margin: 10px 0px 70px;
}
